<div class="row-fluid">
  <div class="span12 well">
    <h3>Our Beginning</h3>
    <br>
        The story of the Peter Dukeman foundation began with the most destructive natural disaster to ever
        hit the North East United States, Superstorm Sandy. It wrought destruction of biblical proportions,
        destroying everything in its path, homes, beaches, even families. The day after the storm subsided, our
        Founder was sitting on his couch with his family, feeling blessed that everyone was safe and watching
        the devastation on television. He came across a facebook post from a remarkable woman named
        Maureen Ciuffo, a nurse, volunteering her time at one of the evacuee shelters, Queens College. The
        facebook post said hundreds of men, women and children were bused in and they were cold and dirty
        and had just lost all of their worldly possessions. The volunteers were able to shower these people but
        had no clothes to put them in. I messaged her that I wanted to help and my wife Stacey and I drove to
        our local K-Mart. We bought all of the sweatpants, underwear, t-shirts and socks we could fit in two
        carts and drove it over to Queens College. The look on this woman’s face blew me away. Here she was
        caring for these people who were all but broken, and she started crying when she saw the bags full of
        clothes.
        <br>
        Picture link of Queens college deliveries
        <br>
        I went home, thinking about the faces of the people in the shelter and I wanted to do more. This was
        one evacuation center. There were dozens, and even more people who refused to leave still trapped in
        what was left of their homes. I took to the Internet and explained what I had witnessed to my friends
        and family. That night I started doing pickups of gently used clothing, food and supplies all over my
        neighborhood, Middle Village, Queens. I would either run what I collected right over to Queens College
        or stockpile it in my house for larger deliveries.
        <br>
        The next day I had several people calling and emailing, all with the same message; they wanted to help
        but they did not know how. There were so many requests by 10:00 AM that I asked everyone to meet
        me at my kid’s school, St. Margaret of Middle Village, for one big drop off point at 12:00 noon. Within
        minutes, there were close to 100 cars lined up around the blocks waiting to drop off. I opened the
        gymnasium and volunteers started pouring in. We opened tables up and started sorting everything in to
        specific clothing types, supplies, food and water. By the end of the day, Queens College, who had taken
        in another 300 evacuees over night, had everything they needed.
        <br>
        Picture link of St. Margarets Operation
        <br>
        We started sending shipments to other evacuation centers and directly in to the hardest hit areas. We
        had pickup trucks, minivans, cars and even one 20’ truck someone donated, all going back and forth.
        By the end of the second day, we had grown so big that we no longer fit in the gym. Word of our relief
        effort exploding spread fast and I was getting calls from all over asking for support. One of the calls
        came from Councilman Ulrich’s office, asking if we could stock his truck for deliveries. I was also put
        in contact with Councilmember Elizabeth Crowley, which turned out to be exactly what we needed to
        grow. Councilmember Crowley and her unbelievable staff had secured an abandoned bookstore in Atlas
        Mall in Glendale Queens. It was the perfect size and even had a loading dock. We quickly moved our
        operation in, along with all of our volunteers, which at this point numbered in the hundreds. We were a
        full blown relief effort, supporting our neighbors who had suffered so much by delivering much needed
        food, water, medical and cleaning supplies, blankets, jackets, clothes and just about anything else they
        could possibly need.
        <br>
        Picture links of Atlas Operation
        <br>
        We hit our stride that weekend, sending more than 70 shipments out in one day, including trucks,
        school buses, pickups, minivans and even a City bus provided by Local 1056. You can fit a lot of supplies
        in a City bus and we packed that bus 4 times. Our operation was humming for two straight weeks and
        we were supplying vital resources to some of the hardest hit areas. There was little sleep for our diehard
        volunteers and most of us can remember bits and pieces, but it’s basically a blur.
        <br>
        Video link of Atlas Operation
        <br>
        Special thanks to Councilmember Crowley, her two aides Dori Pliska and Eric Yun, Joe Rabito, Donald
        Lawrence, Richie (need last name), The Redmond Family, The Trainor family, Local 1056, the NYPD,
        the FDNY and the very much under-appreciated Sanitation department. They worked around the clock
        helping people, cleaning up and they are still digging us out of this unbelievable mess. Rest in peace to
        all of our neighbors that we lost and God speed to all of our new friends who are rebuilding. We are with
        you and the Peter Dukeman Foundation will not rest until we have done everything humanly possible to
        get these hard working New York families back on their feet.
        <br>
        Picture link of devastation / police vans / Crowley / etc
        <br>
  </div>
</div>