<div class="well">
<h3>Our Board</h3>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Sean Turk - Founder and Chairman</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Stacey Turk</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Joseph Rabito</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">James Redmond</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Kerri Redmond</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="img/sean_turk.jpg" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Donald Lawrence</h4>
    <div class="media">
			Sean Turk started this relief effort and the Foundation which developed as a result of it. He is a nephew 
			of Peter Dukeman and is our most active volunteer and donor. Most of the work done before the 
			creation of the foundation was privately funded by Sean. He is a husband to the love of his life and high 
			school sweetheart, Stacey Turk. Sean and Stacey have 3 wonderful children, Gabriella (15), Alyssa (11) 
			and Sean Jr (4). Sean is a very successful business person, having created a new type of network that 
			allows broadcasters to send uncompressed High Definition television signals in a more cost effective 
			and efficient manner, removing the need to compress the signal and allowing for protection options 
			previously unavailable in the industry.  All of Sean’s free time outside of work is spent working with the 
			Foundation or with his family. Sean is an avid sports enthusiast and coaches several youth sports teams.
    </div>
  </div>
</div>
</div>
