<div class="row-fluid">
  <div class="span12 well">
    <h3>Our History</h3>
    <br>

    The relief effort in the weeks after the storm turned out to be Phase 1 of our mission. Phase 2 came as
    the Red Cross and FEMA started to show up and our deliveries became less of a necessity. We still had
    the network of volunteers and donors and we wanted to keep this going. I teamed up with a remarkable
    young man named Michael Sciaraffo, who had an idea to deliver toys to the kids affected by the storm
    dressed up as Santa Claus. His idea took off and he was having difficulty keeping up with demand. We
    put our network to work and we were able to raise more than $2000 and deliver hundreds of toys to
    Michael and directly to the kids. Our Founder was interviewed by the Associated Press and made the
    local news for our efforts.
    <br>
    Picture link of Secret Sandy Clause project
    Associated Press link
    <br>
    Right after the Holiday season ended, we began Phase 3 of our relief initiative and that is where we are
    today. The Peter Dukeman Foundation is now working directly with families displaced by the storm. We
    are providing everything from help finding housing, to help with gutting and restoring damaged homes,
    to mold remediation and furniture. This latest effort is to get people back to where they were pre-storm,
    to some form of semblance. We are building beds for kids sleeping on air mattresses, delivering dining
    room sets to people with empty apartments, providing washer / dryers and other appliances vital for
    everyday life and we are doing it all at no cost to the people we are helping.
    <br>
    Picture link of furniture deliveries
    <br>
  </div>
</div>  