<div class="row-fluid">
  <div class="span12 well">
    <h3>Our Mission</h3>
    <br>
    The whole idea behind the Peter Dukeman Foundation is to create a true non-profit organization built
    with one goal, to help people. We wanted a place people can go to donate their time, and work hands-
    on with their less fortunate neighbors who need assistance. A place where people can donate money,
    and actually see where it goes. Every dollar collected by the Peter Dukeman Foundation goes back out
    the door and is accounted for on our website. The “books” will be online. If we collect cash, we post
    the amount and a link to the receipt of what it bought. None of our volunteers, employees or board
    members receives pay-checks and our highest ranking company official’s title is Founder and Chief
    Volunteer. New York State law only requires non-profit organizations to donate 10% of what they
    collect. 10%!!! Where does the other 90% go? From being on the ground in the hardest hit areas of this
    natural disaster, I can tell you first hand it does not go to the people who need it.
    <br>
    <br>
    A key component to what we do is an extensive vetting process on the front end, for both volunteers
    and assistance recipients. To sign up as a volunteer, at any level, you have to pass a background check
    and be approved by at least two board members or our Founder. We need to know your heart is in
    the right place and you fully understand our mission. To sign up for assistance, you need to fill out a
    small application and provide character references or proof of your story. Each recipient will meet with
    one or more of the board members to determine eligibility. Once you are certified as a volunteer, or a
    recipient, you are family. We will do everything in our power to help you, in every way we can.         
  </div>
</div>