<div class="row-fluid">
  <div class="span12 well">
    <h3>Our Namesake</h3>
    <br>
    Our Foundation’s namesake, Peter Dukeman, was a phenomenal person, a loving husband and an
    adoring father. He spent his spare time handing out food and blankets to homeless people and very
    few of his friends and even his family knew anything about his philanthropic work. He was a very giving
    man and the type of person we all aspire to be. Peter Dukeman passed away from a heart attack at the
    very young age of 40. We work in his name to carry on his memory. He is survived by his wife, Maureen
    Dukeman, and his 3 sons, William Dukeman, Daniel Dukeman and Peter Dukeman. William is an active
    member of the FDNY. Daniel is a security guard at the Metropolitan Opera House while attending
    college at night and the youngest of the three, Peter, is a full time student. Maureen is involved in the
    Foundation and will oversee our Operations to make sure we meet the standards her Husband would
    have demanded in helping others.
  </div>
</div>