<div class="row-fluid">
  <div class="span12 well">
    <h3>Corporate Sponsorship</h3>
    <br>
			We welcome Corporate sponsorship at any level. We are a registered 501©(3) organization and can 
			provide tax deductible receipts for any monetary donations. We would also welcome volunteers at 
			the Corporate level. We can structure specific projects for companies looking to get their employees 
			involved or we can simply advertise your information on our website. We have 4 levels of sponsorship 
			and each comes with its own set of guidelines and responsibilities.
  </div>
</div>